<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240592095677-t7fjn2q1g5k9nbjftpi60caoamcfqgcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240592095677-t7fjn2q1g5k9nbjftpi60caoamcfqgcg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>240592095677-8v1h7gf62ukhtran7rcar2jr6i94bvf0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaingrSgtj7mdk7BmUnmNHobxq92p4B-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>240592095677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmd.business.realestate</string>
	<key>PROJECT_ID</key>
	<string>real-estate-9207</string>
	<key>STORAGE_BUCKET</key>
	<string>real-estate-9207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240592095677:ios:baac6ddbd4ba7714e2aad4</string>
</dict>
</plist>